.footer-section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 400px;
  justify-content: space-around;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./wave-haikei2.svg");
  color: white;
}

.footer-section a {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .footer-section {
    padding-top: 100px;
  }
}
