.homepage {
  margin: 30px auto;
  padding: 30px;
  font-family: "Basel Grotesk";
}
.homepage-content {
  background: url("https://i.guim.co.uk/img/media/4e5bf146c4c83a2b5950b7af2a3432cd43abc0e5/0_205_5472_3283/master/5472.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=4d5e161c4b004131da2dcff7f85a250c")
    no-repeat fixed center;
  width: 75%;
  height: 500px;
  padding: 30px;
  margin: 120px auto;
}
.content {
  width: 300px;
  margin-top: 200px;
  color: #112b02;
  font-size: 23px;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  75% {
    transform: scale(1, 1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
.content button {
  background-color: #e06436;
  color: #fff;
  padding: 10px;
  border-radius: 24px;
  margin-top: 52px;
  width: 300px;
  animation: bounce 1.75s infinite;
}

@media (max-width: 700px) {
  .homepage-content {
    min-width: 283px;
    padding: 20px;
  }
  .content button {
    width: 200px;
  }
}
