body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f7;
  }
  
  .navbar {
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f9f7;
    display: inline-block;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #6c7851;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #6c785136;
  }
  
  .active {
    background-color: #6c785136;
  }

  .logo {
    width: 10vw;
    height: 15vh;
    position: fixed;
    left:0;
    top:0;
  }

  .number {
    width: 15vw;
    height: 15vh;
    position: fixed;
    right:0;
    top:0;
  }