.plant_page {
  padding: 24px;
  background: #f9f9f7;
  color: #6c7851;
}

.plant_page-container {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 24px 24px;
}

.plant-img {
  width: 400px;
  height: 350px;
}
.individual-plant-button {
  background-color: #e06436;
  color: #fff;
  border-radius: 24px;
  margin: 15px;
  min-width: 70px;
}

.plant_page-section-2 {
  background-color: rgb(75, 106, 73);
  max-width: 400px;
  max-height: 350px;
  margin-top: 80px;
  color: whitesmoke;
}
.plant_page-paragraph {
  padding: 40px;
}

@media (max-width: 750px) {
  .plant_page-container {
    flex-direction: column;
    margin: 150px 24px 24px;
  }

  .plant-img {
    width: 300px;
    height: 300px;
  }
  .plant_page-section-2 {
    margin-top: 50px;
  }
  .plant_page-paragraph {
    padding: 0 15px;
    max-width: 300px;
  }
}
